.container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 0 16px;

  border-bottom: #d0d0d0 solid 1px;

  width: 100%;
  height: 60px;

  .profile {
    display: flex;
    flex-direction:row;
    align-items: center;
    gap: 16px;
  }
}